body {
    background-color: rgb(205, 205, 205);
}

.container {
    display: flex;
    flex-wrap: wrap;
}

#green {
    width: 70%;
    padding: 20px;
    text-align: center;
    color: green;
    font-size: 30px;
}

#red {
    width: 70%;
    padding: 20px;
    text-align: center;
    color: red;
    font-size: 30px;
}