body {
    background-color: rgb(191, 219, 174);
}

header {
    margin: 50px 0 20px;
    text-align: center;
}

#list_output {
    margin-left: 50px;
}

li {
    margin: 6px;
    line-height: 22px;
}